# Arquivos gerados durante a execução do seu código
node_modules/
npm-debug.log
yarn-error.log

# Dependências específicas do sistema operacional
.DS_Store
Thumbs.db

# Dependências específicas do IDE ou editor
.vscode/
.idea/

# Arquivos de saída de build
/build
/dist

# Arquivos de configuração local
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Cache
.cache/

# Arquivos temporários
*.tmp
*.temp

# Arquivos de teste
coverage/
*.seed
*.log
*.log.*
*.crt
*.csr
*.key
*.pem

# Arquivos de backup
*.bak
*.backup
*.swp

# Arquivos de imagem
*.jpg
*.jpeg
*.png
*.gif
*.ico
*.svg

# Dependências de front-end geradas
bower_components/
public/

# Dependências de backend geradas
dist/
node_modules/

# Dependências de construção
*.d.ts
*.log
*.tsbuildinfo
